In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
import os
print(os.listdir('/kaggle/input/employee-performance-and-salary-dataset/'))
file_path = '/kaggle/input/employee-performance-and-salary-dataset/Employe_Performance_dataset.csv'
data = pd.read_csv(file_path)

In [ ]:
#1. Load the dataset into a Pandas DataFrame and display the first 10 rows.
task_1_output = data.head(10)
print(task_1_output)

In [ ]:
#2. What are the column names and their respective data types in the dataset?
task_2_output = data.dtypes
print(task_2_output)

In [ ]:
#3. How many rows and columns are there in the dataset?
task_3_output = data.shape
print(task_3_output)

In [ ]:
#4. Select the Name, Age, and Salary columns using df[].
task_4_output = data[['Name', 'Age', 'Salary']]
print(task_4_output)

In [ ]:
#5. Select the first 5 rows of the DataFrame using the iloc method.
task_5_output = data.iloc[:5]
print(task_5_output)

In [ ]:
# Task 6: Select all rows where the Department is "Sales" using the loc method
task_6_output = data.loc[data['Department'] == 'Sales']
print(task_6_output)

In [ ]:
# Task 7: Select rows where the Salary is greater than 8000 and Status is "Active"
task_7_output = data.loc[(data['Salary'] > 8000) & (data['Status'] == 'Active')]
print(task_7_output)

In [ ]:
# Task 8: Extract the rows where the employee has been with the company for more than 5 years 
# and has a Performance Score of at least 4.
# First, convert the Joining Date to datetime if it's not already in that format
data['Joining Date'] = pd.to_datetime(data['Joining Date'], errors='coerce')

# Calculate the number of years the employee has been with the company
data['Years at Company'] = (pd.to_datetime('today') - data['Joining Date']).dt.days / 365

task_8_output = data.loc[(data['Years at Company'] > 5) & (data['Performance Score'] >= 4)]
print(task_8_output)

In [ ]:
# Task 9: Select every alternate row from the DataFrame using slicing with iloc
task_9_output = data.iloc[::2]
print(task_9_output)

In [ ]:
# Task 10: Retrieve rows where the employee belongs to "Sales" and has a Salary in the top 10% of all salaries
top_10_percent_salary = data['Salary'].quantile(0.9)
task_10_output = data.loc[(data['Department'] == 'Sales') & (data['Salary'] >= top_10_percent_salary)]
print(task_10_output)

In [ ]:
# Task 11: Replace all "Inactive" values in the Status column with "Retired"
data['Status'] = data['Status'].replace('Inactive', 'Retired')
print("Status column after replacing 'Inactive' with 'Retired':")
print(data[['Status']].head())

In [ ]:
# Task 12: Add a new column Bonus where values are 10% of the Salary column
data['Bonus'] = data['Salary'] * 0.10
print("Bonus column (10% of Salary):")
print(data[['Salary', 'Bonus']].head())

In [ ]:
# Task 13: Update the Performance Score of employees in the "IT" department to 5 if it is NaN
data.loc[(data['Department'] == 'IT') & (data['Performance Score'].isna()), 'Performance Score'] = 5
print("Performance Score updated for IT department employees with NaN values:")
print(data[['Department', 'Performance Score']].head())

In [ ]:
# Task 14: Modify the Experience of employees with less than 2 years to 2
data.loc[data['Experience'] < 2, 'Experience'] = 2
print("Experience modified for employees with less than 2 years:")
print(data[['Experience']].head())

In [ ]:
# Task 15: Normalize the Salary column so that all values are between 0 and 1
# Min-Max Normalization: (X - min) / (max - min)
salary_min = data['Salary'].min()
salary_max = data['Salary'].max()
data['Normalized Salary'] = (data['Salary'] - salary_min) / (salary_max - salary_min)

print("Normalized Salary column:")
print(data[['Salary', 'Normalized Salary']].head())

In [ ]:
# Task 16: Replace all Location values with "Remote" for employees with a Performance Score below 3
data.loc[data['Performance Score'] < 3, 'Location'] = 'Remote'
print(" Location values replaced with 'Remote' for employees with Performance Score below 3:")
print(data[['Name', 'Performance Score', 'Location']].head())

In [ ]:
# Task 17: Create a new column Experience Level with values "Junior", "Mid", or "Senior" based on Experience
def categorize_experience(experience):
    if experience < 3:
        return 'Junior'
    elif experience < 7:
        return 'Mid'
    else:
        return 'Senior'

data['Experience Level'] = data['Experience'].apply(categorize_experience)
print("Experience Level based on Experience:")
print(data[['Name', 'Experience', 'Experience Level']].head())

In [ ]:
# Task 18: Add a new row with specific values using the concat() method
# Creating a new row with example values
new_row = pd.DataFrame({'Name': ['John Doe'], 'Age': [30], 'Department': ['HR'], 'Salary': [9000], 
                        'Status': ['Active'], 'Performance Score': [4], 'Location': ['Office'], 
                        'Joining Date': ['2020-01-01'], 'Experience': [5], 'Bonus': [900], 
                        'Years at Company': [4], 'Normalized Salary': [0.75], 'Experience Level': ['Mid']})

# Concatenate the new row to the existing DataFrame
data = pd.concat([data, new_row], ignore_index=True)

print("New row added to the DataFrame:")
print(data.tail(1))  # Display the last row added

In [ ]:
# Task 19: Delete the column Session from the DataFrame
# First, check if the column exists
if 'Session' in data.columns:
    data = data.drop(columns=['Session'])
    print("'Session' column deleted from the DataFrame.")
else:
    print("'Session' column does not exist in the DataFrame.")

In [ ]:
# Task 20: Delete rows where the Age is greater than 60
data = data[data['Age'] <= 60]
print("Rows where Age is greater than 60 have been deleted:")
print(data[['Name', 'Age']].head())

In [ ]:
# Task 21: Add a new column Age Group with values "Young", "Middle-aged", or "Senior" based on Age
def categorize_age(age):
    if age < 30:
        return 'Young'
    elif age < 50:
        return 'Middle-aged'
    else:
        return 'Senior'

data['Age Group'] = data['Age'].apply(categorize_age)
print("Age Group based on Age:")
print(data[['Name', 'Age', 'Age Group']].head())

In [ ]:
# Task 22: Identify all columns with missing values using the isna() method
missing_values = data.isna().sum()
print("Columns with missing values:")
print(missing_values[missing_values > 0])

In [ ]:
# Task 23: Fill the missing values in Performance Score with the average score of that column
avg_performance_score = data['Performance Score'].mean()
data['Performance Score'].fillna(avg_performance_score, inplace=True)
print("Missing values in Performance Score filled with the average score:")
print(data[['Performance Score']].head())

In [ ]:
# Task 24: Drop all rows with missing values using the dropna() method
data_dropped = data.dropna()
print("Rows with missing values dropped:")
print(data_dropped.head())

In [ ]:
# Task 25: Replace missing values in Performance Score with the median of the scores, grouped by Department
median_performance_by_dept = data.groupby('Department')['Performance Score'].transform('median')
data['Performance Score'] = data['Performance Score'].fillna(median_performance_by_dept)
print("Missing values in Performance Score replaced with the median by Department:")
print(data[['Department', 'Performance Score']].head())

In [ ]:
# Task 26: Identify rows where the employee is in the "IT" department and their Age is above the average Age of "IT" employees
it_avg_age = data[data['Department'] == 'IT']['Age'].mean()
it_above_avg_age = data[(data['Department'] == 'IT') & (data['Age'] > it_avg_age)]
print("Employees in 'IT' department with Age above the average age of 'IT' employees:")
print(it_above_avg_age[['Name', 'Department', 'Age']].head())

In [ ]:
# Task 27: Identify rows with duplicate Name and Joining Date combinations, and remove duplicates
duplicates = data[data.duplicated(subset=['Name', 'Joining Date'], keep=False)]
data_no_duplicates = data.drop_duplicates(subset=['Name', 'Joining Date'])
print("Rows with duplicate Name and Joining Date combinations removed:")
print(data_no_duplicates[['Name', 'Joining Date']].head())

In [ ]:
# Task 28: Remove rows where the Experience value is inconsistent with the Age (e.g., Experience > Age - 18)
data_consistent_experience = data[data['Experience'] <= (data['Age'] - 18)]
print("Rows with inconsistent Experience values removed:")
print(data_consistent_experience[['Name', 'Age', 'Experience']].head())

In [ ]:
# Task 29: Sort the DataFrame by Salary in descending order
data_sorted_by_salary = data.sort_values(by='Salary', ascending=False)
print("DataFrame sorted by Salary in descending order:")
print(data_sorted_by_salary[['Name', 'Salary']].head())  # Corrected the closing parenthesis

In [ ]:
# Task 30: Sort the DataFrame by Department and then by Joining Date in ascending order
data_sorted_by_dept_and_date = data.sort_values(by=['Department', 'Joining Date'], ascending=[True, True])
print("DataFrame sorted by Department and Joining Date in ascending order:")
print(data_sorted_by_dept_and_date[['Name', 'Department', 'Joining Date']].head())

In [ ]:
# Task 31: Rank all employees by Salary within their Department and add the rank as a new column
data['Salary Rank'] = data.groupby('Department')['Salary'].rank(ascending=False)
print("Employees ranked by Salary within their Department:")
print(data[['Name', 'Department', 'Salary', 'Salary Rank']].head())

In [ ]:
# Task 32: Sort the dataset by Experience in descending order, but break ties using Performance Score in ascending order
data_sorted_by_experience = data.sort_values(by=['Experience', 'Performance Score'], ascending=[False, True])
print("DataFrame sorted by Experience in descending order, Performance Score in ascending order:")
print(data_sorted_by_experience[['Name', 'Experience', 'Performance Score']].head())

In [ ]:
# Task 33: Create a new DataFrame containing only employees in "HR" with a Salary above 5000
hr_above_5000 = data[(data['Department'] == 'HR') & (data['Salary'] > 5000)]
print("Employees in 'HR' with Salary above 5000:")
print(hr_above_5000[['Name', 'Department', 'Salary']].head())

In [ ]:
# Task 34: Filter out all rows where the Location is "Chicago"
data_no_chicago = data[data['Location'] != 'Chicago']
print("Rows where Location is 'Chicago' filtered out:")
print(data_no_chicago[['Name', 'Location']].head())

In [ ]:
# Task 35: Delete all rows where the Performance Score is below 2
data_no_low_performance = data[data['Performance Score'] >= 2]
print("Rows with Performance Score below 2 deleted:")
print(data_no_low_performance[['Name', 'Performance Score']].head())

In [ ]:
# Task 36: Find the average Salary for each Department
average_salary_per_dept = data.groupby('Department')['Salary'].mean()
print("Average Salary for each Department:")
print(average_salary_per_dept)

In [ ]:
# Task 37: Calculate the total Salary of all employees grouped by Status
total_salary_by_status = data.groupby('Status')['Salary'].sum()
print("Total Salary of all employees grouped by Status:")
print(total_salary_by_status)

In [ ]:
# Task 38: Find the maximum Performance Score for employees in each Location
max_performance_by_location = data.groupby('Location')['Performance Score'].max()
print("Maximum Performance Score for employees in each Location:")
print(max_performance_by_location)

In [ ]:
# Task 39: Calculate the total Salary paid to employees who joined in each year
data['Joining Year'] = pd.to_datetime(data['Joining Date']).dt.year  # Extract year from Joining Date
total_salary_by_year = data.groupby('Joining Year')['Salary'].sum()
print("Total Salary paid to employees who joined in each year:")
print(total_salary_by_year)

In [ ]:
# Task 40: Find the department with the highest average Performance Score
avg_performance_by_dept = data.groupby('Department')['Performance Score'].mean()
department_with_highest_performance = avg_performance_by_dept.idxmax()
print("Department with the highest average Performance Score:")
print(department_with_highest_performance)

In [ ]:
# Task 41: Count the number of employees in each Location
employee_count_by_location = data.groupby('Location').size()
print("Number of employees in each Location:")
print(employee_count_by_location)

In [ ]:
# Task 42: Group employees by Status and calculate the sum, mean, and standard deviation of their Salary
salary_stats_by_status = data.groupby('Status')['Salary'].agg(['sum', 'mean', 'std'])
print("Sum, mean, and standard deviation of Salary grouped by Status:")
print(salary_stats_by_status)

In [ ]:
# Task 43: Use the apply() method to create a new column Monthly Salary by dividing the Salary by 12
data['Monthly Salary'] = data['Salary'].apply(lambda x: x / 12)
print("Monthly Salary column added:")
print(data[['Name', 'Salary', 'Monthly Salary']].head())

In [ ]:
# Task 44: Use the applymap() method to convert all string values in the DataFrame to uppercase
data_uppercase = data.applymap(lambda x: x.upper() if isinstance(x, str) else x)
print("DataFrame with all string values converted to uppercase:")
print(data_uppercase[['Name', 'Department', 'Location']].head())

In [ ]:
# Task 45: Create a second dataset containing Department and Budget. Perform an inner join with the original dataset
budget_data = pd.DataFrame({
    'Department': ['HR', 'IT', 'Sales', 'Marketing'],
    'Budget': [50000, 60000, 70000, 55000]
})

# Perform the inner join on 'Department'
data_with_budget = pd.merge(data, budget_data, on='Department', how='inner')
print("Inner join with Budget dataset:")
print(data_with_budget[['Name', 'Department', 'Salary', 'Budget']].head())

In [ ]:
#46.Merge the dataset with another dataset that includes additional information about employee ID and
#their recent Projects.
# Creating a mock dataset with employee names and their recent projects
projects_data = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Recent Project': ['Project A', 'Project B', 'Project C', 'Project D']
})

# Merging the datasets on 'Name'
data_with_projects = pd.merge(data, projects_data, on='Name', how='inner')

print("Merged with employee projects:")
print(data_with_projects[['Name', 'Recent Project']].head())

In [ ]:
#47.Perform a left join with a dataset containing Department and Team Lead details, adding Team Lead
#to the DataFrame.
# Creating a mock dataset with Department and Team Lead details
team_lead_data = pd.DataFrame({
    'Department': ['HR', 'IT', 'Sales', 'Marketing'],
    'Team Lead': ['Alice', 'Bob', 'Charlie', 'David']
})

# Perform a left join with the original dataset
data_with_team_lead = pd.merge(data, team_lead_data, on='Department', how='left')

print("Left join with Team Lead details:")
print(data_with_team_lead[['Name', 'Department', 'Team Lead']].head())

In [ ]:
#48.Create a DataFrame with employee ID and Project Count, then merge it with the original dataset.
#Calculate the average Salary per project
# Creating a mock DataFrame with employee names and project counts
project_count_data = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Project Count': [3, 5, 4, 2]
})

# Merging the original dataset with the project count data on 'Name'
data_with_project_count = pd.merge(data, project_count_data, on='Name', how='inner')

# Calculating the average Salary per project
data_with_project_count['Average Salary per Project'] = data_with_project_count['Salary'] / data_with_project_count['Project Count']

print("Merged with Project Count and average salary per project:")
print(data_with_project_count[['Name', 'Project Count', 'Average Salary per Project']].head())

In [ ]:
#49.Calculate the percentage increase in Salary for each employee compared to the average Salary in
#their Department.
# Calculate the average Salary per Department
department_avg_salary = data.groupby('Department')['Salary'].transform('mean')

# Calculate the percentage increase in Salary compared to the average Salary in their Department
data['Salary Percentage Increase'] = ((data['Salary'] - department_avg_salary) / department_avg_salary) * 100

print("Percentage increase in Salary compared to department average:")
print(data[['Name', 'Department', 'Salary', 'Salary Percentage Increase']].head())

In [ ]:
# Task 50: Print "Thanks"
print("Thanks")